*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #EFEFEF;
  color: #333;
}

html, body, p {
  margin: 0;
}

main {
  width: 80%;
  border: 1px solid #333;
  max-width: 1024px;
  min-height: 100%;
  margin: 0 auto;
  padding: 25px;
}

.list_convert li {
  list-style: none;
  display: inline-block;
  text-decoration: none;
}

/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

.image_list {
  display: inline-block;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.2em;
}

.image_list li img{
  width: 100%
}

#resources {
  postion: center;
}
